@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
a, a:hover{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, ul{
  margin: 0;
}
li{
  list-style: none;
}